<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.listing_name %></div>

  <div class="panel-body">

    <p>Address: <%= @event.address %></p>
    <p>Host: <%= @event.user.email %></p>

    <!-- Main Info -->
    <h4>Main Info</h4>
    <p>Home Type: <%= @event.home_type %></p>
    <p><%= @event.capacity %> <%= @event.capacity > 1 ? "Guests" : "Guest" %></p>


    <!-- About -->
    <h4>About</h4>
    <p><%= @event.description %></p>

    <!-- Amenities -->
    <h4>Amenities</h4>
    <ul class="amenities">
      <li><%= !@event.includes_food ? ("<s>TV</s>").html_safe : "Food" %></li>
      <li><%= !@event.includes_drinks ? ("<del>Kitchen</del>").html_safe : "Drinks" %></li>
    </ul>

  </div>

</div>

<!-- Themes -->
<h4>Categories</h4>
<% @Categories.each do |category| %>
  <span class="label label-success"><%= category.name %></span>
<% end %>
<%= link_to "Back", event_path, class: "btn btn-default" %>
